body {
    background-color: #cee4f7;
}
h1 {
    font-family: 'Great Vibes', cursive;
    color: #0273b0 ;
    font-size: 80px;
    margin-block: 30px;
    padding: 5px;
    text-align: center;
}
#portada{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#enlace1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Tangerine', cursive;
    color: #0273b0 ;
    font-size: 45px;
    margin: 15px;
    padding: 5px;
}
a:link {
    background-color: #a0e5e5;
    color: #141f7d;
    text-decoration-color: #d16d25;
}
a:visited{
    background-color: #cee6a8;
    color: #307130;
    text-decoration-color: #b5576d;
}
